body {
  background-color: #BBBBBB;
}

input {
  margin-top: 15px;
}

button {
  margin-top: 20px;
  margin-bottom: 50px;
}

.header {
  text-align: center;
}

#formCol {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#userInfo {
  margin-top: 45px;
}

#loanDisplay {
  display: none;
}

td, th {
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
  text-align: center;
}

.logo {
  max-height: 30px;
}